
*.csv
introducao-a-data-science-aula0/aula0/ml-latest-small/README.txt
introducao-a-data-science-aula0/aula0/ml-latest-small.zip
introducao-a-data-science-aula1/aula1.2/Introdução_a_Data_Science.ipynb
introducao-a-data-science-aula1/aula1.2/introdução_a_data_science.py
introducao-a-data-science-aula1/aula1.3/.DS_Store
introducao-a-data-science-aula1/aula1.3/Introdução_a_Data_Science.ipynb
introducao-a-data-science-aula1/aula1.3/introdução_a_data_science.py
introducao-a-data-science-aula2/aula2.1/Introdução_a_Data_Science.ipynb
introducao-a-data-science-aula3/aula3.1/Introdução_a_Data_Science.ipynb
introducao-a-data-science-aula4/aula4.1/.DS_Store
introducao-a-data-science-aula4/aula4.1/Introdução_a_Data_Science.ipynb
introducao-a-data-science-aula4/aula4.2/Introdução_a_Data_Science.ipynb
introducao-a-data-science-aula5/aula5.1/Introdução_a_Data_Science.ipynb
introducao-a-data-science-aula2/aula2.1/introdução_a_data_science.py
*.py
introducao-a-data-science-aula4/aula4.3/Introdução_a_Data_Science.ipynb
